
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:white;
}
html, body{
	height: 100%;
	font-family: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
}

h1{
	margin-top: 5px;
	text-align: center;
	color: #00b8e4;
	display: block;

}
.wrapper{
	width: 100%;
	margin: 0 auto;
	background: white;
	height: 450px;
    background: url("../../dest/img/beach.jpg") no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.wrapper-big{
	width: 100%;
	margin: 0 auto;
	background: white;
	height: 750px;
    background: url("../../dest/img/beach.jpg") no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flight-picker{
	margin: 0 auto;
	height: 450px;
	width: 90%;
	background: -webkit-gradient(radial,center center,0,center center,460,from(rgba(31,31,31,0.4)),to rgba(31,31,31,0.9));
	background: -webkit-radial-gradient(circle,rgba(31,31,31,0.4),rgba(31,31,31,0.9));
	background: -moz-radial-gradient(circle,rgba(31,31,31,0.4),rgba(31,31,31,0.9));
	background: -ms-radial-gradient(circle,rgba(31,31,31,0.4),rgba(31,31,31,0.9));
	overflow:hidden;
}

.flight-picker-big{
	margin: 0 auto;
	height: 750px;
	width: 90%;
	background: -webkit-gradient(radial,center center,0,center center,460,from(rgba(31,31,31,0.4)),to rgba(31,31,31,0.9));
	background: -webkit-radial-gradient(circle,rgba(31,31,31,0.4),rgba(31,31,31,0.9));
	background: -moz-radial-gradient(circle,rgba(31,31,31,0.4),rgba(31,31,31,0.9));
	background: -ms-radial-gradient(circle,rgba(31,31,31,0.4),rgba(31,31,31,0.9));
	overflow:hidden;
}
input[type="text"] {

padding-left: 10px;
}

input[name="flightFrom"], input[name="flightTo"] {
  width: 341px;
  height: 36px;
  border-radius: 4px;
  color: black;
  font-size: 1em;
}

input[name="departure-date"], input[name="return-date"] {
  width: 182px;
  height: 36px;
  border-radius: 4px;
  color: black;
  font-size: 1em;
}



label{
	display: block;
	color: #c7c7c7;
	font-size: .9em;

}


.adults{
	align: bottom;
}

select { 

}




span #adults-button .ui-selectmenu-button {
	line-height: 1;
	background:black;
}

.ui-button.ui-widget.ui-state-default{
	background: #3e3e3e;
}

.ui-button.ui-widget.ui-state-active{
	background: #0065b8;
}

.ui-button.ui-widget.ui-state-hover{
	background: #0065b8;
}

.ui-button{
	height: 36px;
}

span.ui-button-text{
	font-size: .8em;
	padding-top: 2%;
}

.from, .to{
	display: inline-block;

}

.d-date, .r-date, .adults, .children{
	display: inline-block;
}

.adults, .children{

}

.to, .r-date, .adults, .children{
	margin-left: 24px;
}
.form-box{
	padding: 6% 5% 5%;
}

.ui-buttonset{
	margin-bottom: 1%;
}

.cities{
	margin-bottom: 1%;

}

.one-b{
	margin-bottom: 1.5%;
}

span #adults-button{
	margin-top: 20px;
}

.calendar-number-persons{
	display:block;
}

input, select{
	vertical-align: bottom;
}


span.ui-selectmenu-button{
	background:white;
	vertical-align: bottom;
	height:36px;
	width: 75px;
	// border: 1px solid #3e3e3e;
}

.ui-menu-item{
	background:#3e3e3e;
}

li.ui-menu-item.ui-state-focus{
	background: #0065b8;
	color:white;
}


span.ui-selectmenu-text{
 color: black;
}

#ui-datepicker-div{
	background:white;
}

div.ui-datepicker-header{
	background: #3e3e3e;
}

span.ui-icon{
	color:white;
	// background:white;
}


td.ui-datepicker-week-end .ui-state-default{
	background:#3e3e3e;
	color:white;
}

table.ui-datepicker-calendar tbody tr td a.ui-state-default{
	background:#3e3e3e;
	color:white;
}

table.ui-datepicker-calendar tbody tr td a.ui-state-default.ui-state-hover{
	background: #0065b8;
}

table.ui-datepicker-calendar tbody tr td a.ui-state-default.ui-state-highlight{
	background: #0065b8;
}


#submit{
	width: 69px;
	height: 48px;
	color: #3e3e3e;
	background: #ffc600;
	font-weight: bold;
	font-size: 1em;
	border: none;
	border-radius: 4px;
	margin-top: 3%;
	cursor: pointer;
}

.hide{
	display: none;
}
.multiple{
	margin-top: 1%;
	border-top: 1px grey solid;
}
h3{
	color: white;
	font-size: 1em;
	margin-bottom: 1%;
	margin-top: .5%;
	font-weight: normal;
}

